body .contact-us {
    margin-top: 50px;
    background: linear-gradient(90.87deg, rgba(255, 104, 1, 0.8) 0.72%, rgba(255, 32, 1, 0.8) 99.25%), url("../../assets/images/back.png");
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body .contact-us .contact-content .text h2 {
    font-size: 35px;
    color: white;
}
body .contact-us .contact-content .open-modal {
    color: #e75624;
    font-size: 15px;
    padding: 15px 30px;
    background-color: white;
    border: 1px solid white;
    border-radius: 16px;
    cursor: pointer;
    display: inline;
}

body .form {
    text-align: center;
    width: 600px;
    margin: auto;
    max-width: 90%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}
body .form.active {
    display: block;
}
body .form .close {
    cursor: pointer;
}
body .form form {
    background-color: black;
    padding: 10px 25px;
}
body .form form h2 {
    font-size: 30px;
    font-weight: bold;
    color: white;
}
body .form form .item-form {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
body .form form .item-form input {
    font-size: 14px;
    width: 100%;
    padding: 10px;
    border: none;
    color: white;
    border-bottom: 1px solid #d6d8e7;
    background-color: transparent;
}
body .form form .item-form input:focus, body .form form .item-form input:focus-visible {
    outline: none;
}
body .form form .item-form.part input {
    width: 45%;
}
body .form form .item-form.check-box input {
    display: none;
}
body .form form .item-form.check-box input:checked ~ .check::after {
    content: "✓";
    color: white;
}
body .form form .item-form.check-box .check {
    width: 24px;
    height: 24px;
    border: 1px solid white;
}
body .form form .item-form.check-box label {
    width: 100%;
    text-align: left;
    color: white;
    margin-left: 15px;
}
body .form form .item-form.check-box label a {
    color: white;
}
body .form form .btn {
    width: 100%;
    background-color: black;
    border: 1px solid white;
    color: white;
    padding: 20px;
    font-size: 15px;
    margin: 15px 0 20px 0;
    cursor: pointer;
}
body .form form .btn:hover {
    background-color: white;
    color: black;
    transition: 0.5s;
}
body .form .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
}